---
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";


---

<Layout title="Contacto">
  <Section title="Contacto">
    <div class="text-center mb-8 space-y-4">
      <p class="text-lg">
        Email: <a href="mailto:hackcs@hackcs.org">hackcs@hackcs.org</a>
      </p>
      <p class="text-lg">
        Discord: <a href="https://discord.com/invite/WVhxsn7hFc">HackCS</a>
      </p>
      <p class="text-lg">
        Twitter: <a href="https://twitter.com/hackCS">@hackCS</a>
      </p>
      <p class="text-lg">
        Facebook: <a href="https://facebook.com/Hackerspace-Castell%25C3%25B3n-1555573647876423">Hackerspace Castellón</a>
      </p>
      <p class="text-lg">
        Instagram: <a href="https://instagram.com/hackerspacecs/">Hackerspace Castellón</a>
      </p>
      <p class="text-lg">
        Teléfono: <a href="tel:+34964387692">964387692</a>
      </p>
      <p class="text-lg">
        Printables: <a href="https://www.printables.com/@HackCS_1156257">@HackCS_1156257</a>
      </p>
      <p class="text-lg">
        GitHub: <a href="https://github.com/Hackerspace-Castellon">HackerSpace Castellon</a>
      </p>
    </div>
  </Section>
</Layout>